<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <title>Scrabble Score Checker</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Check Scrabble Score</h1>
                <hr>
                <div class="col-sm-6">
                    <form class="" action="/score" method="post">
                        <label for="input">Word to Check</label>
                        <input type="text" name="input" placeholder="Your Word">
                        <button class="btn btn-danger" type="submit" name="button">Score!</button>
                    </form>

                </div>
            </div>
            <hr>
        </div>
    </body>
</html>
